In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('C:\\Users\\athar\PycharmProjects\Data_Analytics\\1_Dataset.csv')
print(df.head())
print(df.describe())

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\athar\AppData\Local\Temp\ipykernel_1728\1825914310.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv('C:\\Users\\athar\PycharmProjects\Data_Analytics\\1_Dataset.csv')

       country  year iso_code  population  gdp  cement_co2  \
0  Afghanistan  1750      AFG   2802560.0  NaN         0.0
1  Afghanistan  1751      AFG         NaN  NaN         0.0
2  Afghanistan  1752      AFG         NaN  NaN         0.0
3  Afghanistan  1753      AFG         NaN  NaN         0.0
4  Afghanistan  1754      AFG         NaN  NaN         0.0

   cement_co2_per_capita  co2  co2_growth_abs  co2_growth_prct  ...  \
0                    0.0  NaN             NaN              NaN  ...
1                    NaN  NaN             NaN              NaN  ...
2                    NaN  NaN             NaN              NaN  ...
3                    NaN  NaN             NaN              NaN  ...
4                    NaN  NaN             NaN              NaN  ...

   share_global_other_co2  share_of_temperature_change_from_ghg  \
0                     NaN                                   NaN
1                     NaN                                   NaN
2                     NaN                                   NaN
3                     NaN                                   NaN
4                     NaN                                   NaN

   temperature_change_from_ch4  temperature_change_from_co2  \
0                          NaN                          NaN
1                          NaN                          NaN
2                          NaN                          NaN
3                          NaN                          NaN
4                          NaN                          NaN

   temperature_change_from_ghg  temperature_change_from_n2o  total_ghg  \
0                          NaN                          NaN        NaN
1                          NaN                          NaN        NaN
2                          NaN                          NaN        NaN
3                          NaN                          NaN        NaN
4                          NaN                          NaN        NaN

   total_ghg_excluding_lucf  trade_co2  trade_co2_share
0                       NaN        NaN              NaN
1                       NaN        NaN              NaN
2                       NaN        NaN              NaN
3                       NaN        NaN              NaN
4                       NaN        NaN              NaN

[5 rows x 79 columns]
               year    population           gdp    cement_co2  \
count  50191.000000  4.101900e+04  1.525100e+04  28863.000000
mean    1919.883067  5.686141e+07  3.300495e+11      7.767746
std       65.627296  3.199905e+08  3.086385e+12     62.595292
min     1750.000000  2.150000e+02  4.998000e+07      0.000000
25%     1875.000000  3.273130e+05  7.874038e+09      0.000000
50%     1924.000000  2.289522e+06  2.743861e+10      0.000000
75%     1974.000000  9.862459e+06  1.212625e+11      0.486000
max     2023.000000  8.091735e+09  1.301130e+14   1696.308000

       cement_co2_per_capita           co2  co2_growth_abs  co2_growth_prct  \
count           25358.000000  29137.000000    26981.000000     26002.000000
mean                0.059036    415.698178        6.208882        43.104462
std                 0.120328   1945.843973       62.322553      1729.939596
min                 0.000000      0.000000    -1977.750000      -100.000000
25%                 0.000000      0.374000       -0.005000        -1.102500
50%                 0.001000      4.990000        0.044000         3.803500
75%                 0.075750     53.273000        1.002000        10.890750
max                 2.484000  37791.570000     1865.208000    180870.000000

       co2_including_luc  co2_including_luc_growth_abs  ...  \
count       23585.000000                  23285.000000  ...
mean          535.581202                      7.214604  ...
std          2202.219657                     99.347980  ...
min           -99.693000                  -2325.500000  ...
25%             6.418000                     -0.908000  ...
50%            27.691000                      0.078000  ...
75%           123.959000                      2.620000  ...
max         41416.480000                   2340.184000  ...

       share_global_other_co2  share_of_temperature_change_from_ghg  \
count             2108.000000                          41001.000000
mean                 7.512655                              2.269285
std                 17.671054                              9.315325
min                  0.000000                             -0.810000
25%                  0.204750                              0.004000
50%                  0.838000                              0.078000
75%                  3.211000                              0.359000
max                100.000000                            100.000000

       temperature_change_from_ch4  temperature_change_from_co2  \
count                 38060.000000                 41001.000000
mean                      0.003026                     0.007670
std                       0.016519                     0.043694
min                      -0.001000                     0.000000
25%                       0.000000                     0.000000
50%                       0.000000                     0.000000
75%                       0.001000                     0.001000
max                       0.422000                     1.161000

       temperature_change_from_ghg  temperature_change_from_n2o     total_ghg  \
count                 41001.000000                 38060.000000  37410.000000
mean                      0.011023                     0.000509    488.542225
std                       0.061901                     0.003043   2392.579910
min                      -0.001000                     0.000000    -14.961000
25%                       0.000000                     0.000000      1.835000
50%                       0.000000                     0.000000     15.007500
75%                       0.001000                     0.000000     78.242750
max                       1.668000                     0.085000  53816.852000

       total_ghg_excluding_lucf    trade_co2  trade_co2_share
count              37236.000000  4535.000000      4535.000000
mean                 316.133529    -7.232399        20.524440
std                 1839.602293   250.640012        52.744956
min                    0.000000 -2195.952000       -98.849000
25%                    0.235000    -3.179500        -6.168000
50%                    2.371000     1.518000         8.701000
75%                   29.337500     9.153500        32.666000
max                44114.785000  1798.999000       568.635000

[8 rows x 77 columns]

In [20]:
initial_rows, initial_cols = df.shape
print(df.shape)

# Remove columns where 80% of values are NaN
col_threshold = len(df) * 0.2
df_cleaned = df.dropna(axis=1, thresh=col_threshold)
# Remove rows where 80% of data columns (excluding country, year, iso_code) are NaN
data_columns = [col for col in df_cleaned.columns if col not in ['country', 'year', 'iso_code']]
row_threshold = len(data_columns)*0.2
df_cleaned = df_cleaned.dropna(subset=data_columns, thresh=row_threshold)

# Calculate rows and columns removed
rows_removed = initial_rows - df_cleaned.shape[0]
cols_removed = initial_cols - df_cleaned.shape[1]

# Print number of rows and columns removed
print(f"Rows removed: {rows_removed}")
print(f"Columns removed: {cols_removed}")
print(df_cleaned.shape)

(50191, 79)
Rows removed: 10254
Columns removed: 12
(39937, 67)

In [21]:
summary = df_cleaned.describe()
print(summary)

              year    population           gdp    cement_co2  \
count  39937.00000  3.798700e+04  1.517700e+04  23993.000000
mean    1933.75236  5.987013e+07  3.316313e+11      9.344377
std       54.94974  3.315761e+08  3.093818e+12     68.547537
min     1750.00000  2.220000e+02  4.998000e+07      0.000000
25%     1889.00000  4.033020e+05  7.983138e+09      0.000000
50%     1936.00000  2.673148e+06  2.771730e+10      0.027000
75%     1981.00000  1.037377e+07  1.224810e+11      0.853000
max     2023.00000  8.091735e+09  1.301130e+14   1696.308000

       cement_co2_per_capita           co2  co2_growth_abs  co2_growth_prct  \
count           23312.000000  26746.000000    26408.000000     25912.000000
mean                0.064217    320.886697        6.338519        43.244840
std                 0.124165   1729.985821       62.988454      1732.939733
min                 0.000000      0.000000    -1977.750000      -100.000000
25%                 0.000000      0.390000       -0.007000        -1.130250
50%                 0.005000      4.521500        0.050000         3.829000
75%                 0.087000     43.983500        1.063000        10.931000
max                 2.484000  37791.570000     1865.208000    180870.000000

       co2_including_luc  co2_including_luc_growth_abs  ...  \
count       23585.000000                  23285.000000  ...
mean          535.581202                      7.214604  ...
std          2202.219657                     99.347980  ...
min           -99.693000                  -2325.500000  ...
25%             6.418000                     -0.908000  ...
50%            27.691000                      0.078000  ...
75%           123.959000                      2.620000  ...
max         41416.480000                   2340.184000  ...

       share_global_gas_co2  share_global_luc_co2  share_global_oil_co2  \
count          15034.000000          36571.000000          23592.000000
mean               4.199124              2.652447              3.347746
std               16.723014             10.340705             13.070303
min                0.000000             -8.182000              0.000000
25%                0.000000              0.001000              0.006000
50%                0.025000              0.083000              0.068000
75%                0.487750              0.542000              0.546000
max              100.000000            100.000000            100.000000

       share_of_temperature_change_from_ghg  temperature_change_from_ch4  \
count                          38086.000000                 37142.000000
mean                               2.181219                     0.002842
std                                9.049519                     0.016248
min                               -0.810000                    -0.001000
25%                                0.009000                     0.000000
50%                                0.090000                     0.000000
75%                                0.394000                     0.001000
max                              100.000000                     0.422000

       temperature_change_from_co2  temperature_change_from_ghg  \
count                 38086.000000                 38086.000000
mean                      0.007365                     0.010665
std                       0.042509                     0.060835
min                       0.000000                    -0.001000
25%                       0.000000                     0.000000
50%                       0.000000                     0.000000
75%                       0.001000                     0.002000
max                       1.161000                     1.668000

       temperature_change_from_n2o     total_ghg  total_ghg_excluding_lucf
count                 37142.000000  36939.000000              36766.000000
mean                      0.000463    448.788133                288.054200
std                       0.002915   2313.765043               1761.274469
min                       0.000000    -14.961000                  0.000000
25%                       0.000000      1.836500                  0.235000
50%                       0.000000     14.641000                  2.307000
75%                       0.000000     74.554500                 27.310750
max                       0.085000  53816.852000              44114.785000

[8 rows x 65 columns]

In [22]:
df_cleaned.to_csv('C:\\Users\\athar\PycharmProjects\Data_Analytics\\4_Dataset_Cleaned.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\athar\AppData\Local\Temp\ipykernel_1728\1689925427.py:1: SyntaxWarning: invalid escape sequence '\P'
  df_cleaned.to_csv('C:\\Users\\athar\PycharmProjects\Data_Analytics\\4_Dataset_Cleaned.csv', index=False)